# Java
*.class
*.jar
*.war
*.ear
*.db
*.log
*.pid
*.bak

# IntelliJ IDEA
.idea/
*.iml

# Eclipse
.project
.classpath
.settings/

# Maven
target/

# Gradle
.gradle/
build/

# OS Files
.DS_Store
Thumbs.db

# Logs
logs/
*.log

# Spring Boot DevTools
.spring-boot-devtools/

# IDE specific files
.vscode/
*.swp

HELP.md
hello.txt

# Ignore localstack logs
localstack/

# Ignore localstack data
.localstack/

# Ignore aws credentials
.aws/



